@{
    ViewData["Title"] = "HttpClientSendExample";
}


<ul>
    <li><a class="nav-link text-dark" asp-action="GetTest">GET</a></li>
    <li><a class="nav-link text-dark" asp-action="PostFormTest">POST(フォーム)</a></li>
    <li><a class="nav-link text-dark" asp-action="PostTextTest">POST(テキスト)</a></li>
    <li><a class="nav-link text-dark" asp-action="PostJsonTest">POST(JSON)</a></li>
    <li><a class="nav-link text-dark" asp-action="PostBytesImageTest">POST(画像)</a></li>
    <li><a class="nav-link text-dark" asp-action="PostStreamImageTest">POST(画像)</a></li>
    <li><a class="nav-link text-dark" asp-action="PostMultiPartTest">POST(マルチパート)</a></li>
</ul>